@import 'utils';
@import 'fonts';
@import 'typography';
@import 'header';
@import 'functions';
@import 'photo';
@import 'section';
@import 'quote';
@import 'features';
@import 'questions';
@import 'footer';

body {
  background-color: $bg-color;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding-inline: 123px;
  padding-block: 30px;
  box-sizing: border-box;
}
